

<div id="btn-menu" style="z-index:2">
    <a href="#" class="btn btn-warning  buttons-ourServices " id="btn-open">
        <i class="fa fa-bars fa-2x"></i>
    </a>
</div>

<div class="row active" id="mynav" style="z-index:2">

    @************************************************************************
        btn-close*@

    
    <div class="navbar-inner">
        <a class="brand toRight" href="/" ><h1 id="menu-title">تیم مهندسان</h1></a>

        <br />
        <ul class="nav toRight">
            @*<li><a class="links" data-name="blue" href="@Url.Action("Index","Main")">خدمات ما</a></li>*@
            @*<li><a class="links" data-name="softwares" href="/">معرفی نرم افزارها</a></li>*@
            <li><a href="@Url.Action("Makets", "Main")">ماکت</a></li>
            <li><a href="@Url.Action("IT", "Main")">دوربین مداربسته</a></li>
            <li><a href="@Url.Action("Website", "Main")">وبسایت</a></li>
            <li><a href="@Url.Action("Architect", "Main")">معماری</a></li>
            <li><a href="@Url.Action("Team","Main")">اعضای تیم مهندسان</a></li>
            <li><a href="@Url.Action("ContactUs","Main")">تماس با ما</a></li>

        </ul>


    </div>
</div>



