<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Engineers-Team.com | Coming soon</title>


    <meta name="description" content="Engineers-Team.com, Engineers-Team.com coming soon">

    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- CSS start here -->
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/Content/styles.css" />
    <link rel="stylesheet" type="text/css" href="/Content/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/Content/animate.css" />
    

    <!-- CSS end here -->
    <!-- Google fonts start here -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <!-- Google fonts end here -->

</head>

<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <!-- Main container start here -->
    <!-- Javascript framework and plugins start here -->
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/modernizr.js"></script>
    <script type="text/javascript" src="/scripts/appear.js"></script>
    <script src="/scripts/jquery.knob.js"></script>
    <script src="/scripts/jquery.ccountdown.js"></script>
    <script src="/scripts/init.js"></script>
    <script src="/scripts/general.js"></script>

    <!-- Javascript framework and plugins end here -->

</body>

</html>
